<body>
       {{#if displayAlert}}
            <div class="alert alert-primary" role="alert" style="padding: 15px; margin: 10px; background-color:{{alertColor}}; color: #F7EDE2;">
            {{alertMessage}}
            </div>
        {{/if}} 
    

    <div class="section">
        <div class="main-content subject-main-content" >

            <a href="/events" class="buttonsDesign edit-events-button">Retourner</a>

            <h3>Invités</h3>

            {{#if showMeals}}
            <table>
                <tr>
                    <th colspan="3">Options de Repas</th>
                </tr>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Végétalien</th>
                </tr>
                {{#each allMeals}}
                <tr>
                    <td>{{this.MealId}}</td>
                    <td>{{this.Main}}</td>
                    <td>{{this.Drink}}</td>
                    <td>{{YesNoTrueFalse this.Vegan 'fr'}}</td>
                </tr>
                {{/each}}
            </table>
            {{/if}}
        
            
            <form action="/guests" method="post" role ="form" class="formStyle" id="add-form">
                <legend>Ajouter un invité</legend>
                <label for="add-form-name">Nom de l'invité:</label><br>
                <input type="text" name="guestName" id="add-form-name" required><br>
                <label for="meal-ID">Id de repas préféré:</label><br>
                <input type="text" name="mealId" id="meal-ID" required>
                <br>
                <input type="hidden" name="_method" value="post">
                <button type="submit" class="buttonsDesign" id="guest-add-form-submit">Soumettre</button>
            </form>


            <form action="/guests" method="post" role ="form" class="formStyle" id="delete-guest-form">
                    <legend>Supprimer l'invité</legend>
                        <label for="delete-guest">Nom de l'invité:</label><br>
                        <input type="text" name="guestName" id="delete-guest" required><br>
                    <br>
                    <input type="hidden" name="_method" value="delete" required>
                    <button type="submit" class="buttonsDesign" id="guest-delete-form-submit">Supprimer</button>
            </form>


            <form action="/guests" method="post" role ="form" class="formStyle" id="update-form" style="margin-bottom: 150px;">
                <legend>Mettre à jour l'invité</legend>
                <label for="update-form-old-name">Nom d'invité actuel:</label><br>
                <input type="text" name="oldName" id="update-form-old-name" required><br>
                <label for="update-form-newName">Nouveau nom d'invité</label><br>
                <input type="text" name="newName" id="update-form-newName" required>
                <br>
                <label for="update-form-meal-ID">Nouvel identifiant de repas préféré:</label><br>
                <input type="text" name="newMealID" id="update-form-meal-ID" required><br>
                <br>
                <input type="hidden" name="_method" value="put">
                <button type="submit" class="buttonsDesign" id="update-form-submit">Soumettre</button>

            </form>
        </div>

        <div class="table-section">
            {{#if showVisitors}}
                <table class="subject-table">
                    <tr>
                        <th colspan="3">Invités pour l'événement</th>
                    </tr>
                    <tr>
                        <th>Identifiant d'invité</th>
                        <th>Nom d'invité</th>
                        <th>Identifiant du repas</th>
                    </tr>
                    {{#each guestList}}
                    <tr>
                        <td>{{this.GuestId}}</td>
                        <td>{{this.Name}}</td>
                        <td>{{this.MealId}}</td>
                    </tr>
                    {{/each}}
                </table>
                <br>
            {{/if}}
        </div>
    </div>

    <script type="text/javascript">
        document.getElementById("home-navbar").innerText = "Accueil";
        document.getElementById("events-navbar").innerText = "Mes Événements";
        document.getElementById("about-us-navbar").innerText = "À Propos";
        document.getElementById("sign-in-navbar").innerText = "Se Connecter | S'Inscrire"
    </script>

    {{#if isSignedIn}}
        <script type="text/javascript">
            let button = document.getElementById("sign-in-navbar");

            button.innerText = "Se Déconnecter";
            button.href = "/signout";
        </script>
    {{/if}}
</body>